body {
  margin: 0;
  font-size: 18px;
  font-family: sans-serif;
  text-align:left;
  background-color: white;
}

/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

.arrived{
width: 320px;
font-weight: bold;
padding-top:0px;
}

.depart{
  width:320px;
  padding:0px;
  margin: auto;
  margin-bottom: 40px;
  line-height: 2em;
  list-style: none;
}

.depart2 {
  text-align: center;
  line-height: 0em;
  position: relative;
  bottom: 16px;
}

.upcoming{
  width: 320px;
  margin: auto;
  font-weight: bold;
  padding: 15px;

}

.line {
  width: 320px;
  line-height: 0em;
}

.num {
  font-weight: bolder;
}

.destination {
  position: relative;
  bottom: 10px;
  text-indent: 75px;
}
.frequency {
  position: relative;
  bottom: 15px;
  text-align: right;
}
.eta {
  text-align: right;
  position: relative;
  bottom: 19px;
}

.resumes{
  text-align: right;
  position: relative;
  bottom: 20px;
}

h1{
  font-size: 12px;
  font-weight: bold;
  height:1em;
}

h2 {      /*Arrived & Enroute*/
  text-align: center;
  padding-top: 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #FFCC00;
  line-height:20px;
}

h3 {
  text-align: left;
  font-size: 12px;

}
ul {           /*blue background*/
    margin: auto;
    border-bottom: solid;
    border-bottom-color: #3776BA;
    width:375px;
    background-color:#3776BA;
    list-style: none;


  }

ul li {             /*gray boxes*/
    padding: 10px 15px 0px 20px;
    font-size: 14px;
    background-color: #E7E7EA;

}

.image1 {
  width: 375px;
}

.image2 {
  align: center;
  width: 320px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position:relative;
  top: -60px;

}
