body {
  margin: 0;
  font-size: 18px;
  font-family: sans-serif;
  text-align:left;
}

/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}
.background {
  border-style: dashed;
}
.container {
  width:333px;
  height:45px;
  margin-bottom: 40px;

}

input[type=text] {
    width: 320px;
    border-radius: 5px;
}

.station {
  margin:auto;
  width:419px;
  line-height: 4em;
}

.arrived{
width: 320px;
margin: auto;
padding: 0px;
font-weight: bold;
list-style: none;
padding-top: 70px;
}

.depart{
  width:320px;
  padding:0px;
  margin: auto;
  margin-bottom: 40px;
  line-height: 2em;
  list-style: none;
}

.depart2 {
  text-align: center;
  line-height: 0em;
  position: relative;
  bottom: 30px;
}

.upcoming{
  width: 320px;
  margin: auto;
  padding: 0px;
  font-weight: bold;
}

.line {
  width: 320px;
  line-height: 0em;
}

.num {
  text-align:left;
  font-weight: bolder;
}

.destination {
  text-align:center;
  position: relative;
  bottom: 10px;
}
.frequency {
  position: relative;
  bottom: 24px;
  text-align: right;
}
.eta {
  text-align: right;
  position: relative;
  bottom: 24px;
}

.resumes{
  text-align: right;
  position: relative;
  bottom: 24px;
}

h1{
  text-align: left;
  font-size: 12px;
  font-weight: bold;
  height:1em;
  padding:0;
}

h2 {
  text-align: center;
  padding-top: 5px;
}

h3 {
  text-align: left;
  font-size: 12px;
}
ul {
    margin: auto;
    padding: 0;
    border-bottom: solid;
    border-bottom-color: #3776BA;
    width:31%;
    background-color:#3776BA;
    list-style: none;

    /*this UL keeps shrinking when the browser window is adjusted*/
  }

ul li {
    width:320px;
    padding: 12px 20px 1px 20px;
    font-size: 14px;
    background-color: #eee;

}


.image1 {
  width: 333px;
}


.image2 {
  padding: 5px;
  padding-bottom: 15px;
  position: relative;
  top: -30px;
  height: 35px
}
